<header>
  <h1>To-Do App</h1>

  <button id="add-todo" (click)="addTodo()">
    Add Todo
  </button>
</header>

<div class="list">
  <div
    *ngFor="let status of allTodoStatus"
    cdkDropList
    [id]="status"
    [ngClass]="'list__' + status"
    [cdkDropListConnectedTo]="statusListConnections[status]"
    [cdkDropListData]="todosByStatus[status]"
  >
    <gus-todo-card
      *ngFor="let item of todosByStatus[status]"
      cdkDrag
      [id]="item.id"
      [todo]="item"
      (reduce)="handleReduce($event)"
      (cdkDragDropped)="itemDropped($event)"
    ></gus-todo-card>
  </div>
</div>
