:root {
  --color-white: #fff;
  --color-black: #000;

  --color-box-shadow: rgba(0, 0, 0, 0.6);

  --color-primary-extra-light: #7effb2;
  --color-primary-light: #5fff9f;
  --color-primary: #3fff8c;
  --color-primary-dark: #20ff79;
  --color-primary-extra-dark: #0f6;
}
